.fitcheck-image {
  display: block;
  max-width: 100%;
}

.fitcheck-image-default {
  width: 100%;
  height: auto;
}

.fitcheck-image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fitcheck-image-avatar {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 20%;
  background: #dfc7ad;
}

.fitcheck-image-rounded {
  border-radius: 10px;
  overflow: hidden;
}